body { padding: 10px 30px 0px 30px; }
h1, h2 { text-align: center; font-size: x-large}
hr { margin: 30px; }

a, p {
  font-family: "Times New Roman", sans-serif;
  font-size: large;
}

.bibl { font-size: medium; }

.framecontainer {
  display: flex;
  flex-direction: column;
}

.gitbtn {
  width: 60px; height: 60px;
  align-self: center;
}

.bottomRight {
  position: relative;
  float: right;

  margin-bottom: 10px;
  
  color: blue;
}

.bottomLeft {
  position: relative;
  float: left;

  margin-bottom: 10px;
  
  color: blue;
}